* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", "Share Tech Mono", monospace;
  font-size: 18px;
  letter-spacing: 1px;
  color: whitesmoke;
}

.challenge-container {
  height: 100vh;
  background: linear-gradient(to right, #000000, #0f9b0f);
}

.challenge-text-container {
  height: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.challenge1-container,
.challenge2-container,
.challenge3-container,
.challenge4-container,
.challenge6-container,
.challenge8-container,
.challenge9-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  color: black;
}

.challenge1-btn-style {
  pointer-events: none;
}

.challenge2-btn-style {
  visibility: hidden;
}

.challenge3-div {
  cursor: help;
}

.challenge3-btn-style {
  display: none;
}

.challenge4-div {
  width: 100%;
  height: 90%;
  position: relative;
  z-index: 2;
}

.challenge4-div::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
}

.challenge4-btn-style {
  position: relative;
  z-index: -5;
}

.challenge5-div {
  height: 0;
  overflow: hidden;
}

.challenge6-div {
  height: 90%;
  width: 100%;
  position: relative;
}

.challenge6-btn-style {
  position: absolute;
  right: 10000px;
}

.challenge7-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: wait;
  background: linear-gradient(to right, #000000, #0f9b0f);
}

.challenge7-btn-style {
  width: 100px;
  height: 75px;
  margin: 1px;
  cursor: wait;
  filter: blur(10px);
}

.other8-btn {
  user-select: none;
  cursor: grab;
}

.challenge8-btn-style {
  visibility: hidden;
  cursor: not-allowed;
}

.challenge9-div {
  cursor: none;
}

.inner-div {
  display: none;
}

.challenge9-btn-style {
  pointer-events: none;
}
